@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  scroll-behavior:smooth;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 8vh;
  background: linear-gradient(to right, #475e29 10%, #555244);
  z-index: 999;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F0F0F1;
  width: 100vw;
}

section{
  height: auto;
  margin-bottom: 10vh;
}

.social-icons {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 10px;
  transition: 300ms ease;
  margin: 10px 0px 10px 0px;
}

.social-icons i {
  font-size: 20px;
  cursor: pointer;
  transition: 300ms ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.social-icons i:hover {
  cursor: pointer;
  transition: 300ms ease;
  transform: scale(1.15);
}
.social-icons div:hover {
  cursor: pointer;
  transition: 300ms ease;
}

.zap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 3px 0px 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 8rem;
  border-radius: 20px;
  border: 1px solid #fff;
  background: transparent;
  transition: 300ms ease;
}

.zap:hover {
  border: 1px solid #0b6e24;
  transition: 2s ease;
  background: linear-gradient(to right, #0b6e24 10%, #1b9c10);
}

.zap span {
  font-size: 16px;
  margin-left: 6px;
  color: #fff;
  font-weight: 600;
}

#home {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/clean.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed !important;
  overflow: hidden;
  margin: 0;
}

.section-home-background{
  width: auto;
  height: 200px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.container-home{
  display: flex;
  flex-direction: column;
}

.span-1{
  color:#fff;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 3px;
}

.span-2{
  color:antiquewhite;
  font-weight: 600;
  font-size: 1.7em;
  letter-spacing: 1px;

}

.btn-contato{
  border: 1px solid #555244;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 17px;
  color: #555244;
  width: 10rem;
  padding: 10px 0px;
  margin-left: 100px;
  background-color: #fff;
  border-radius: 0px 15px 0px 15px;
  transition: 500ms;
}

.btn-contato:hover{
  transition: 500ms;
  background: transparent;
  color: aliceblue;
  border: 1px solid aliceblue;
}

section img {
  width: 100vw;
  height: 100vh;
}

.container-icons {
  width: 70%;
}



.bloco-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 70vw;
  height: auto;
  box-shadow: 3px 3px 10px;
}

.logo {
  padding-bottom: 3px;
  margin-left: 50px;
  width: 8rem;
  height: 4rem;
}

.bloco-logo i{
  display: none;
}

.container-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.container-links ul {
  display: flex;
  justify-content: end;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  align-items: center;
  gap: 60px;
  list-style: none;
}

.container-links ul li {
  transition: 500ms;
  /* border-bottom: 2px solid #0B6E24; */
}

.container-links ul li:hover {
  transition: 500ms;
  opacity: 0.7;
}



.container-cards {
  display: flex;
  gap: 40px;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 50px;
  width: 21.9rem;
  height: 500px;
  background-color: #F0F0F1;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 500ms ease;
}

.card:hover {
  transform: scale(1.03);
  transition: 300ms ease;
  z-index: 1;
}

.card-img img {
  width: 22rem;
  height: 250px;
  border-radius: 0px 0px 170px 0px;
  border: 1px solid #fff;
}

.card-span-title{
  letter-spacing: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: #555343;
}

.card-span-subtitle{
  letter-spacing: 2px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "lato",sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555343;
  padding: 10px;

}

.container-blocos {
  position: fixed;
  bottom: 0;
  left: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 999; /* Adicionando um z-index maior */
}

.blocos {
  background-color: #475e29;
  width: 450px;
  z-index: 2;
  position: relative;
}

.blocoDois {
  background-color: #555244;
  width: 450px;
  z-index: 2;
  position: relative;
}

.blocos,
.blocoDois {
  margin-bottom: 1px;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.blocos div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  gap: 15px;
}

.blocoDois div {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  gap: 15px;
}


.section-cabecalho{
  width: 100%;
  gap: 50px;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #555244;
}

#section-banner{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-attachment: fixed;
}

.banner{
  width: 100vw;
}
.section-quemsomos{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding-top: 15vh;
}

.container-desc-img{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.msg-importante{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  font-size: 15px;
  gap: 20px;
  width: 70%;

}

.msg-importante p{
  margin-left: 70px;
}

.container-descricao{
  display: flex;
  flex-direction: column;
  width: 60%;
}

.box-2{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50rem;
  padding: 20px;
}

.img-quemsomos{
  width: 100%;
  height: 100%
}

hr{
  color: #555244;
  transform: rotate(90deg);
}

.container-descricao h1{
  font-size: 40px;
}

.blocoDois{
  visibility: hidden;
}

.blocos{
  visibility: hidden;
}


.section-container-form{
  display: flex;
  align-items: center;
  background: #475e29;
  width: 100%;
  height: 100vh;
  margin-bottom: 2px;
}


input{
  padding: 15px;
  width: 90%;
  height: 2rem;
  outline: none;
}

select{
  width: 90%;
  height: 2rem;
}

.container-form input:focus{
  border: 2px solid #475e29;
}

.container-footer{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #555244;
}


.container-logo-footer{
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 25%;
}

.container-copyright-footer{
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 30%;
  color: #fff;
  font-size: 1rem;
}

.logo-footer{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  letter-spacing: 3px;
  font-weight: 900;
  color: #fff;
  font-size: 2rem;
}

.copyright{
  color: #fff;
  font-weight: 600;
}

.container-contato-footer{
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 25%;
  color: #fff;
  font-weight: 600;
}

.container-social-icons{
  display: flex;
  gap: 1rem;
  margin-top: 0.4rem;
}

.mobile-links{
  display: none;
}

.title-menu-mobile{
  display: none;
}

.social-icons-menu-mobile{
  display: none;
}

.overlay .close{
  display: none;
}



.section-container-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #475e29;
  width: 100%;
  height: auto;
  padding: 80px 0px 150px 0px;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 23rem;
  height: auto;
  background: #F9F9F9;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
}


input{
  padding: 15px;
  width: 100%;
  height: 3rem;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
}

select{
  width: 100%;
  height: 3rem;
  border: 1px solid black;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
}


.btnEnviar{
  border-radius: 10px;
  width: 100%;
  height: 3rem;
  background:#555244;
  color: #fff;
  font-weight: 600;
  transition: all 500ms;
  border: none;
  letter-spacing: 1px;
  font-size: 18;
}

.btnEnviar:hover{
  cursor: pointer;
  background: #0b6e24;
  transition: all 300ms;
}

.textarea{
  width: 100%;
  height: 4rem;
  resize: none;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}



.box1-trabalheconosco{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  line-height: 1;
  margin: 50px;
}

.box1-span1{
  font-size: 70px;
  padding-bottom: 10px;
  color: #fff; 
  font-weight: 600;
}

.box1-span2{
  color: #fff; 
}

.box2-trabalheconosco{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 50%;
  height: auto;
}


.arrow{
  display: none;
}









































@media screen and (max-width: 1200px) {

section{
    height: auto;
    margin-bottom: 10vh;
  }
  header{
    background: transparent;
  }

/* HEADER */

#home{
  display: flex;
  justify-content: center;
  align-items: end;
}
  .container-icons{
    display: none;
  }
  .social-icons{
    justify-content: center;
  }

  .logo{
    margin: 0px 0px 0px 20px;
  }

  .bloco-logo{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    background: #fff;
    width: 100vw;
    justify-content: space-between;
  }
  .container-links{
    display: none;
  }

  .bloco-logo i{
    display: flex;
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #555244;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    padding: 0 auto;
    z-index: 9999; /* Garante que a div esteja acima de todos os outros elementos */
    transition: all 500ms;
    background: linear-gradient(to bottom, rgba(71, 94, 41, 1) 10%, rgba(85, 82, 68, 1));
    overflow: hidden;
  }

  .title-menu-mobile{
    display: flex;
    justify-content: center;
    color: antiquewhite;
    font-size: 25px;
    width: 100%;
    padding-top: 20px;
  }

  .social-icons-menu-mobile{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
    border-bottom: 2px solid #777777;
    font-size: 25px;
  }

  .social-icons-menu-mobile a{
    transition: 500ms ease-in-out;
  }
  .social-icons-menu-mobile a:hover{
    transform: scale(1.1);
    transition: 500ms ease-in-out;
  }

  .menu{

    border-radius: 10px;
    padding: 5px;
  }

  .mobile-links{
    display: flex;
    justify-content: start;
    list-style: none;
    flex-direction: column;
    width: 100vw;
    margin-top: 80px;
    gap: 30px;
    color:antiquewhite;
    font-size: 25px;
    padding-left: 15px;
    padding-left: 15px;
    font-weight: 600;
  }

  .overlay .close{
    display: flex;
    margin: 15px 15px;
    font-size: 30px;
    color: #fff;
  }

/* MAIN */

  .container-home{
    display: flex;
    height: auto;
    padding-bottom: 40px;
  }

  .section-home-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 1px solid rgb(131, 131, 131);
    margin-left: 20px;
    border-radius: 20px;
    backdrop-filter: blur(15px) !important;
  }
  
  .span-1, .span-2{
    font-size: 18px;
  }

  .btn-contato{
    border: 1px solid #fff;
    color:#555244;
    background-color: antiquewhite;
    opacity: 0.8;
    margin: 50px 0px 0px 0px;
    display: flex;
  }

  .container-btn-contato{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .arrow{
    display: flex;
    justify-content: center;
    color: antiquewhite;
    width: 100%;
    font-size: 50px;
    margin-top: 30px;
    padding-bottom: 20px;
    animation: arrowAnimation 1s infinite alternate; /* Added 'infinite' for continuous animation and 'alternate' for reversing */
}

@keyframes arrowAnimation{
    0%{
      transform: translateY(0px);
    }
    100%{
      transform: translateY(20px); 
    }
}
  .card{
    margin-top: 30px;
  }

  .container-cards{
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .container-blocos {
    display: none;
  }

  .section-cabecalho{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    width: 100%;
  }

  #section-banner{
    display: none;
  }

  .container-desc-img{
    height: auto;
    padding: 20px;
    margin-bottom: 10vh;
    flex-direction: column;
  }

  .container-descricao{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 90%;
  }

  .container-descricao h1{
    display: flex;
    justify-content: center;
  }

  #trabalheconosco{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
  }

  #servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-bottom: 10vh;
  }

  #quemsomos{
    height: auto;
    margin-bottom: 10vh;
  }
  .section-quemsomos{
    padding-top: 100px;
  }

  .box-1{
    height: auto;
    width: 100%;
  }

  .box-2{
    display: none;
  }

  .container-footer{
    flex-direction: column;
    height: auto;

  }

  .container-logo-footer,
  .container-copyright-footer,
  .container-contato-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
  }

  .msg-importante{
    width: 100%;
  }
  .msg-importante p{
    margin-left: 30px;
  }

  .box1-trabalheconosco{
    display: flex;
    height: auto;
    padding-top: 50px;
  }

  .box1-span1{
    font-size: 40px;
    letter-spacing: 2px;
  }

  .box1-span2{
    display: flex;
    margin: 0;
    width: 100%;
    padding: 10px 0px 0px 0px;
  }

  .none{
    display: none;
  }

  .box2-trabalheconosco{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding-bottom: 60px;
  }

  .section-container-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #475e29;
    width: 100%;
    padding: 0;
  }

  .container-form input{
    padding: 15px;
    width: 100%;
    height: 3rem;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .container-form select{
    width: 100%;
    height: 3rem;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 10px;
  }
  
  
  .container-form button:hover{
    cursor: pointer;
    background: #0b6e24;
    transition: all 300ms;
  }
  
  .textarea{
    width: 100%;
    height: 4rem;
    resize: none;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
  }
}
